# Maven / Java
target/
*.class
*.jar
*.war
*.ear
*.log

# Eclipse
.classpath
.project
.settings/
.metadata/
bin/
tmp/

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# VS Code
.vscode/

# Node / Frontend
node_modules/
dist/
dist-ssr/
*.local
.env
.env.*

# OS files
.DS_Store
Thumbs.db
